[submodule "odoo"]
	path = odoo
	url = https://github.com/odoo/odoo.git
	branch = 16.0
	shallow = true
[submodule ".submodules/poi-addons-local"]
	path = .submodules/poi-addons-local
	url = https://github.com/poiesis-consulting/poi-addons-local.git
	branch = master
[submodule ".submodules/poi-addons-base"]
	path = .submodules/poi-addons-base
	url = https://github.com/poiesis-consulting/poi-addons-base.git
	branch = master
[submodule ".submodules/poi-addons-vertical"]
	path = .submodules/poi-addons-vertical
	url = https://github.com/poiesis-consulting/poi-addons-vertical.git
	branch = master
[submodule ".submodules/reporting-engine"]
	path = .submodules/reporting-engine
	url = https://github.com/OCA/reporting-engine.git
	branch = 16.0
